In [ ]:
from pathlib import Path
import pandas as pd

## productos

In [7]:
excel_path = Path("data/raw/productos.xlsx")

# Ahora leemos con polars
df_prod = pd.read_excel(excel_path)

# Información básica
print(df_prod.describe())
print(" ")
# Columnas
print(df_prod.columns)
print(" ")
# Ver tipos de datos
print(df_prod)

       id_producto      nombre categoría  proveedor
count           20          20        20         20
unique          20          20         4          5
top           P001  Producto_1  Deportes  TextilSur
freq             1           1        11          6

Index(['id_producto', 'nombre', 'categoría', 'proveedor'], dtype='object')

   id_producto       nombre   categoría   proveedor
0         P001   Producto_1        Ropa    ModaPlus
1         P002   Producto_2    Deportes   StepSport
2         P003   Producto_3     Calzado   StepSport
3         P004   Producto_4     Calzado   TextilSur
4         P005   Producto_5    Deportes    ModaPlus
5         P006   Producto_6    Deportes  DeportesYA
6         P007   Producto_7        Ropa   TextilSur
7         P008   Producto_8        Ropa   FríoPolar
8         P009   Producto_9    Deportes    ModaPlus
9         P010  Producto_10    Deportes   StepSport
10        P011  Producto_11  Accesorios   FríoPolar
11        P012  Producto_12        Ropa   TextilSur
12        P013  Producto_13    Deportes   TextilSur
13        P014  Producto_14    Deportes   FríoPolar
14        P015  Producto_15  Accesorios   FríoPolar
15        P016  Producto_16     Calzado   FríoPolar
16        P017  Producto_17    Deportes   TextilSur
17        P018  Producto_18    Deportes  DeportesYA
18        P019  Producto_19    Deportes    ModaPlus
19        P020  Producto_20    Deportes   TextilSur

## sucursales

In [9]:
excel_path = Path("data/raw/sucursales.xlsx")

# Ahora leemos con polars
df_suc = pd.read_excel(excel_path)
#df_suc.head()

# Información básica
print(df_suc.describe())

# Columnas
print(df_suc.columns)

# Ver tipos de datos
print(df_suc)

       id_sucursal   ciudad  región
count            2        2       2
unique           2        2       2
top           S001  Córdoba  Centro
freq             1        1       1
Index(['id_sucursal', 'ciudad', 'región'], dtype='object')
  id_sucursal   ciudad   región
0        S001  Córdoba   Centro
1        S002  Rosario  Litoral

In [14]:
excel_path = Path("data/raw/ventas_enero.xlsx")


# Ahora leemos polars
df_sales_jan = pd.read_excel(excel_path)


# Información básica
print(df_sales_jan.describe())

# Columnas
print(df_sales_jan.columns)

# Ver tipos de datos
print(df_sales_jan)

         id_venta                fecha   cantidad  precio_unitario
count  100.000000                  100  100.00000       100.000000
mean    50.500000  2024-01-15 06:00:00    2.70000       155.000000
min      1.000000  2024-01-01 00:00:00    1.00000        50.000000
25%     25.750000  2024-01-08 00:00:00    1.00000        50.000000
50%     50.500000  2024-01-15 00:00:00    3.00000       100.000000
75%     75.250000  2024-01-22 00:00:00    4.00000       300.000000
max    100.000000  2024-01-28 00:00:00    5.00000       300.000000
std     29.011492                  NaN    1.35214       108.827544
Index(['id_venta', 'fecha', 'id_producto', 'cantidad', 'precio_unitario',
       'id_sucursal'],
      dtype='object')
    id_venta      fecha id_producto  cantidad  precio_unitario id_sucursal
0          1 2024-01-07        P020         1               50        S001
1          2 2024-01-20        P019         4              100        S002
2          3 2024-01-15        P019         5              100        S001
3          4 2024-01-11        P002         1              300        S002
4          5 2024-01-08        P013         3              300        S001
..       ...        ...         ...       ...              ...         ...
95        96 2024-01-08        P009         1              300        S001
96        97 2024-01-14        P011         4              100        S001
97        98 2024-01-23        P018         4              100        S001
98        99 2024-01-28        P013         3              300        S002
99       100 2024-01-25        P003         1               50        S001

[100 rows x 6 columns]

In [13]:
excel_path = Path("data/raw/ventas_febrero.xlsx")

# Ahora leemos polars
df_sales_feb = pd.read_excel(excel_path)


# Información básica
print(df_sales_feb.describe())

# Columnas
print(df_sales_feb.columns)

# Ver tipos de datos
print(df_sales_feb)

         id_venta                fecha    cantidad  precio_unitario
count  100.000000                  100  100.000000       100.000000
mean   150.500000  2024-02-15 06:00:00    2.800000       151.500000
min    101.000000  2024-02-01 00:00:00    1.000000        50.000000
25%    125.750000  2024-02-08 00:00:00    1.750000        50.000000
50%    150.500000  2024-02-17 00:00:00    3.000000       100.000000
75%    175.250000  2024-02-22 00:00:00    4.000000       300.000000
max    200.000000  2024-02-28 00:00:00    5.000000       300.000000
std     29.011492                  NaN    1.428427       111.340546
Index(['id_venta', 'fecha', 'id_producto', 'cantidad', 'precio_unitario',
       'id_sucursal'],
      dtype='object')
    id_venta      fecha id_producto  cantidad  precio_unitario id_sucursal
0        101 2024-02-05        P006         4               50        S002
1        102 2024-02-01        P007         3               50        S001
2        103 2024-02-18        P009         1              300        S001
3        104 2024-02-22        P009         4              100        S002
4        105 2024-02-27        P018         4              300        S002
..       ...        ...         ...       ...              ...         ...
95       196 2024-02-07        P012         2              100        S002
96       197 2024-02-17        P009         4              100        S002
97       198 2024-02-17        P008         1               50        S002
98       199 2024-02-13        P016         5               50        S001
99       200 2024-02-15        P019         3               50        S001

[100 rows x 6 columns]

In [18]:
df_sales = pd.concat([df_sales_jan,df_sales_feb],ignore_index= True)
df_sales

     id_venta      fecha id_producto  cantidad  precio_unitario id_sucursal
0           1 2024-01-07        P020         1               50        S001
1           2 2024-01-20        P019         4              100        S002
2           3 2024-01-15        P019         5              100        S001
3           4 2024-01-11        P002         1              300        S002
4           5 2024-01-08        P013         3              300        S001
..        ...        ...         ...       ...              ...         ...
195       196 2024-02-07        P012         2              100        S002
196       197 2024-02-17        P009         4              100        S002
197       198 2024-02-17        P008         1               50        S002
198       199 2024-02-13        P016         5               50        S001
199       200 2024-02-15        P019         3               50        S001

[200 rows x 6 columns]

## Guardado tablas

In [19]:
import sqlite3
import pandas as pd
import os


# Crear/conectar a la base SQLite
os.makedirs("db", exist_ok=True)
conn = sqlite3.connect("db/negocio.db")


# Guardar cada uno con un nombre de tabla distinto
df_suc.to_sql("sucursales", conn, if_exists="replace", index=False)
df_sales.to_sql("ventas", conn, if_exists="replace", index=False)
df_prod.to_sql("productos", conn, if_exists="replace", index=False)

# Cerrar conexión
conn.close()

In [22]:
query = "Select * from productos"

conn = sqlite3.connect("db/negocio.db")

with conn:
    df_pandas = pd.read_sql_query(query, conn)
    print(df_pandas)

   id_producto       nombre   categoría   proveedor
0         P001   Producto_1        Ropa    ModaPlus
1         P002   Producto_2    Deportes   StepSport
2         P003   Producto_3     Calzado   StepSport
3         P004   Producto_4     Calzado   TextilSur
4         P005   Producto_5    Deportes    ModaPlus
5         P006   Producto_6    Deportes  DeportesYA
6         P007   Producto_7        Ropa   TextilSur
7         P008   Producto_8        Ropa   FríoPolar
8         P009   Producto_9    Deportes    ModaPlus
9         P010  Producto_10    Deportes   StepSport
10        P011  Producto_11  Accesorios   FríoPolar
11        P012  Producto_12        Ropa   TextilSur
12        P013  Producto_13    Deportes   TextilSur
13        P014  Producto_14    Deportes   FríoPolar
14        P015  Producto_15  Accesorios   FríoPolar
15        P016  Producto_16     Calzado   FríoPolar
16        P017  Producto_17    Deportes   TextilSur
17        P018  Producto_18    Deportes  DeportesYA
18        P019  Producto_19    Deportes    ModaPlus
19        P020  Producto_20    Deportes   TextilSur